<ion-content class="ion-padding home-page">
  <div class="logo-container">
    <img src="assets/imgs/logo.png" alt="QuickRoute Logo" class="logo" />
  </div>

  <div class="create-order-button">
    <ion-button expand="block" fill="outline" (click)="createOrder()">Create Order</ion-button>
  </div>

  <ion-grid class="promo-grid">
    <ion-row class="ion-justify-content-center">
      <ion-col size="5">
        <img src="assets/imgs/voucher.png" alt="Voucher" class="promo-img" />
      </ion-col>
      <ion-col size="5">
        <img src="assets/imgs/shipment.png" alt="Shipment Offer" class="promo-img" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="quick-access-cards">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4" class="card" (click)="openPlatformOrders()">
          <img src="assets/imgs/platform-orders.png" alt="Platform Orders" />
          <div class="label">Platform Orders</div>
        </ion-col>
        <ion-col size="4" class="card" (click)="openReports()">
          <img src="assets/imgs/reports.png" alt="Reports" />
          <div class="label">Reports</div>
        </ion-col>
        <ion-col size="4" class="card" (click)="openWaybillSummary()">
          <img src="assets/imgs/waybill-summary.png" alt="Waybill" />
          <div class="label">Way Bill Summary</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
